

.card-container {
	width: 300px;
	height: auto;
	position: relative;
	float: left;
	padding: 2px;
}

.card-container  .card-view {
	width: 100%;
	margin-bottom:5px;
	float: left;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


.card-container  .card-view:last-child{
	margin-bottom: 0;
}
.card-container .drag-move{
	position: absolute;
	opacity: 0.8;
	z-index: 999;
}

.card-container .card-fake{
	background: none;
	border: 1px dashed #000;
	border-radius: 10px;
}